name: Build-Scan-Deploy-to-CloudRun

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:

      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Dev Dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Run Unit Tests
        run: pytest -q

      - name: Authenticate to Google Cloud (Workload Identity Federation)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-deployer@kxnwork.iam.gserviceaccount.com"

      - name: Configure Docker to push to Artifact Registry
        run: gcloud auth configure-docker asia-south1-docker.pkg.dev

      - name: Build Container Image
        run: |
          IMAGE="asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}"
          docker build -t $IMAGE .

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}"
          format: "table"
          exit-code: "0"

      - name: Push Image
        run: |
          IMAGE="asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}"
          docker push $IMAGE

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy backend-app \
            --image=asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }} \
            --region=asia-south1 \
            --allow-unauthenticated
