name: deploy-backend

on:
  push:
    branches: ["main"]     # <-- Pipeline will now run on push
  workflow_dispatch:
    inputs:
      DEPLOY_SWITCH:
        description: "Deployment switch (ON = Cloud Run, OFF = GKE)"
        required: true
        type: choice
        options:
          - on
          - off
        default: on

env:
  PROJECT_ID: kxnwork
  REGION: asia-south1
  IMAGE_URI: asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}

permissions:
  contents: read
  id-token: write

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      - name: Configure AR Docker
        run: gcloud auth configure-docker asia-south1-docker.pkg.dev

      - name: Build Image
        run: docker build -t $IMAGE_URI backend-app

      - name: Push Image
        run: docker push $IMAGE_URI


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run (Switch = ON)
        if: ${{ github.event.inputs.DEPLOY_SWITCH == 'on' }}
        run: |
          echo "Deploy switch = ON → Deploying to Cloud Run"
          gcloud run deploy backend-app \
            --image $IMAGE_URI \
            --region $REGION \
            --allow-unauthenticated

      - name: Configure GKE Access (Switch = OFF)
        if: ${{ github.event.inputs.DEPLOY_SWITCH == 'off' }}
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ secrets.GKE_CLUSTER_NAME }}
          location: ${{ secrets.GKE_CLUSTER_LOCATION }}
          project_id: kxnwork

      - name: Deploy to GKE (Switch = OFF)
        if: ${{ github.event.inputs.DEPLOY_SWITCH == 'off' }}
        run: |
          echo "Deploy switch = OFF → Deploying to GKE"
          sed -i "s|REPLACE_ME_IMAGE|$IMAGE_URI|g" k8s/deployment.yaml
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl apply -f k8s/hpa.yaml

