name: Build-Scan-Deploy-to-CloudRun

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: kxnwork
  REGION: asia-south1
  SERVICE_NAME: backend-app
  IMAGE_REPO: asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      # ----------------------------
      # CHECKOUT CODE
      # ----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ----------------------------
      # PYTHON SETUP
      # ----------------------------
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend-app/requirements.txt

      # ----------------------------
      # LINTING
      # ----------------------------
      - name: Run flake8 linting
        run: |
          pip install flake8
          flake8 backend-app/src|| true

      # ----------------------------
      # RUN UNIT TESTS
      # ----------------------------
      - name: Run tests
        env:
          PYTHONPATH: backend-app/src
        run: |
          pip install pytest
          pytest -q backend-app/src/tests

      # ----------------------------
      # AUTH WITH GOOGLE CLOUD (WIF)
      # ----------------------------
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: "access_token"
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/github-wif-clean/providers/github-provider"
          service_account: "github-ci-deployer@kxnwork.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      # ----------------------------
      # BUILD & PUSH DOCKER IMAGE
      # ----------------------------
      - name: Build & Push Docker image
        run: |
          IMAGE_TAG=$(git rev-parse --short HEAD)
          FULL_IMAGE="$IMAGE_REPO:$IMAGE_TAG"
          echo "IMAGE_NAME=$FULL_IMAGE" >> $GITHUB_ENV

          gcloud builds submit --tag "$FULL_IMAGE" backend-app

      # ----------------------------
      # TRIVY SECURITY SCAN
      # (Fails ONLY on CRITICAL issues)
      # ----------------------------
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_NAME }}
          severity: CRITICAL
          ignore-unfixed: true
          exit-code: 1

      # ----------------------------
      # DEPLOY TO CLOUD RUN
      # ----------------------------
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE_NAME \
            --image $IMAGE_NAME \
            --region $REGION \
            --allow-unauthenticated
