name: deploy-backend

on:
  workflow_dispatch:
    inputs:
      DEPLOY_TARGET:
        description: "Select Deployment Target"
        required: true
        type: choice
        options:
          - cloudrun
          - gke
        default: cloudrun

env:
  PROJECT_ID: kxnwork
  REGION: asia-south1
  IMAGE_URI: asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}

permissions:
  contents: read
  id-token: write

jobs:

  # ================================
  # BUILD + PUSH IMAGE
  # ================================
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      - name: Configure AR Docker
        run: gcloud auth configure-docker asia-south1-docker.pkg.dev

      - name: Build Image
        run: docker build -t $IMAGE_URI backend-app

      - name: Push Image
        run: docker push $IMAGE_URI

  # ================================
  # DEPLOYMENT (CLOUDRUN / GKE)
  # ================================
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      # CLOUD RUN DEPLOY
      - name: Deploy to Cloud Run
        if: ${{ github.event.inputs.DEPLOY_TARGET == 'cloudrun' }}
        run: |
          echo "Deploying to Cloud Run..."
          gcloud run deploy backend-app \
            --image $IMAGE_URI \
            --region $REGION \
            --allow-unauthenticated

      # GKE CONFIG + DEPLOY
      - name: Configure GKE Access
        if: ${{ github.event.inputs.DEPLOY_TARGET == 'gke' }}
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ secrets.GKE_CLUSTER_NAME }}
          location: ${{ secrets.GKE_CLUSTER_LOCATION }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy to GKE
        if: ${{ github.event.inputs.DEPLOY_TARGET == 'gke' }}
        run: |
          echo "Deploying to GKE..."
          sed -i "s|REPLACE_ME_IMAGE|$IMAGE_URI|g" k8s/deployment.yaml

          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl apply -f k8s/hpa.yaml

