name: Build-Scan-Deploy-to-CloudRun

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write  # Required for WIF auth

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dev dependencies
        run: |
          pip install -r backend-app/requirements-dev.txt

      - name: Run tests
        run: |
          pytest -q

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker asia-south1-docker.pkg.dev

      - name: Build Docker image
        run: |
          IMAGE="asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}"
          docker build -t $IMAGE backend-app

      - name: Push Docker image
        run: |
          IMAGE="asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}"
          docker push $IMAGE

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy backend-app \
            --image=asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }} \
            --region=asia-south1 \
            --allow-unauthenticated

