name: ci-cd-backend

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      DEPLOY_TARGET:
        description: "Choose deployment target"
        required: true
        type: choice
        options:
          - cloudrun
          - gke
        default: cloudrun

env:
  PROJECT_ID: kxnwork
  REGION: asia-south1
  ARTIFACT_REPO: backend-app
  IMAGE_NAME: backend-app
  IMAGE_TAG: ${{ github.sha }}
  IMAGE_URI: asia-south1-docker.pkg.dev/kxnwork/backend-app/backend-app:${{ github.sha }}

permissions:
  contents: read
  id-token: write

jobs:

  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker asia-south1-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_URI backend-app

      - name: Push Docker image
        run: docker push $IMAGE_URI

  deploy:
    needs: build-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/backend-app-pool/providers/backend-app-provider"
          service_account: "ci-backend-deployer@kxnwork.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      # ---------------------------
      # CLOUD RUN DEPLOYMENT
      # ---------------------------
      - name: Deploy to Cloud Run
        if: ${{ github.event.inputs.DEPLOY_TARGET == 'cloudrun' }}
        run: |
          gcloud run deploy backend-app \
            --image $IMAGE_URI \
            --region $REGION \
            --allow-unauthenticated

      # ---------------------------
      # GKE DEPLOYMENT
      # ---------------------------
      - name: Configure GKE Access
        if: ${{ github.event.inputs.DEPLOY_TARGET == 'gke' }}
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ secrets.GKE_CLUSTER_NAME }}
          location: ${{ secrets.GKE_CLUSTER_LOCATION }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy to GKE
        if: ${{ github.event.inputs.DEPLOY_TARGET == 'gke' }}
        run: |
          sed -i "s|REPLACE_ME_IMAGE|$IMAGE_URI|g" k8s/deployment.yaml

          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl apply -f k8s/hpa.yaml
